*{
    box-sizing: border-box;
}
body{
    background-color: rgb(127, 76, 215);
    color:white;
}



@media only screen and (max-width:480px){
    body{
        background-color: plum;
        color: black;
    }
}






